In [1]:
import pandas as pd

In [2]:
import numpy as p

In [3]:
ds=pd.read_csv("NK.csv")

In [4]:
from sklearn.linear_model import LinearRegression

In [5]:
model=LinearRegression()

In [6]:
ds

    name  hrs  marks
0  rahul    8     80
1   eric    5     50
2  krish    4     40
3    tom    7     70

In [7]:
x=ds['hrs']

In [8]:
y=ds['marks']

In [9]:
type(x)

pandas.core.series.Series

In [10]:
x=p.array(x)

In [11]:
x.shape

(4,)

In [12]:
x=x.reshape(4,1)

In [13]:
y.shape

(4,)

In [14]:
model.fit(x,y)

LinearRegression()

In [15]:
model.predict([[5]])

array([50.])

In [16]:
import joblib

In [17]:
joblib.dump(model,'base.pk1')

['base.pk1']